/* .profile {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 320px;
  border: 3px solid rgb(144, 136, 177);
  border-radius: 6px;
  background-color: rgb(166, 231, 181);
} */
/* .description {
  font-size: 15px;
  text-align: center;
} */

/* .avatar {
  margin-top: 15px;
  max-width: 200px;
  border: 2px solid rgb(144, 136, 177);
  border-radius: 50%;
  background-color: rgb(226, 209, 209);
} */

/* .name {
  font-size: 25px;
  font-weight: 700;
} */

/* .tag,
.location,

.quantity {
  font-size: 20px;
  font-weight: 600;
  color: rgb(47, 45, 45);
} */

/* .stats {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 80px;
} */

/* .statsItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc((100% - 4 * 15px) / 2);
  border-top: 1px solid rgb(139, 126, 196);
  border-right: 1px solid rgb(139, 126, 196);
} */

/* .label {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #000000;
} */